@model AboutSkill
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Edit Position</h3></div>
                    <div class="card-body">
                        <form method="post">
                            <div class="form-group">
                                <label for="id"></label>
                                <input asp-for="ID" type="text" hidden class="form-control" id="id" placeholder="enter" />
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="form-floating mb-3 mb-md-3">
                                        <input asp-for="Point" type="text" class="form-control" id="pointname" placeholder="enter Point" />
                                        <span asp-validation-for="Point" style="color:red"></span>
                                        <label for="inputFirstName">Point</label>
                                    </div>
                                    <select asp-for="SkillId">
                                        @foreach (var item in ViewData["Skill"] as IEnumerable<Skill>)
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="mt-4 mb-0">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main> 