@model Experience
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Add Experince</h3></div>
                    <div class="card-body">
                        <form method="post" action="/admin/Experince/Add">
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="form-floating mb-3 mb-md-3">
                                        <input asp-for="CompanyName" type="text" class="form-control" id="companyname" placeholder="enter companyName" />
                                        <span asp-validation-for="CompanyName" style="color:red"></span>
                                        <label >CompanyName</label>
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3">
                                        <input asp-for="Description" type="text" class="form-control" id="descriptionname" placeholder="enter Description" />
                                        <span asp-validation-for="Description" style="color:red"></span>
                                        <label>Description</label>
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3">
                                        <input asp-for="EntryDate" type="datetime" class="form-control" id="entrydate" placeholder="enter EntryDate" />
                                        <span asp-validation-for="EntryDate" style="color:red"></span>
                                        <label>EntryDate</label>
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3">
                                        <input asp-for="EndDate" type="datetime" class="form-control" id="enddate" placeholder="enter EndDate" />
                                        <span asp-validation-for="EndDate" style="color:red"></span>
                                        <label>EndDate</label>
                                    </div>
                                    <select asp-for="PositionId">
                                        @foreach (var item in ViewData["Positions"] as IEnumerable<Position>)
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    </select>

                                </div>
                            </div>
                            <div class="mt-4 mb-0">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>