@model IEnumerable<WorkCategory>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 mt-4">WorkCategory</h1>


    <a href="/admin/WorkCategory/Add" class="btn btn-primary">Add</a>

    <!-- DataTaBles Example -->
    <div class="card shadow mb-4 mt-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped " id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                @*  <a asp-action="Edit" asp-route-id="@item.ID">
                            Edit
                            <i class="fa-solid fa-pen-to-square"></i>
                            </a>*@
                                <td>@Html.ActionLink("Edit", "Edit", "WorkCategory", new { id = item.ID }, new { @class = "btn btn-primary" })</td>
                                <td>@Html.ActionLink("Delete", "Delete", "WorkCategory", new { id = item.ID }, new { @class = "btn btn-danger" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>